{% extends 'base.html.twig' %}

{% block body %}
    <style>
    .row{
        width: 100%;
        text-align: center;
        margin-left: 7.5%;
    }
    </style>
	<div class="container text-center">
		{% if is_granted("ROLE_ADMIN") %}
			<a href="{{ path('category_add') }}">
				<img src="{{ asset('button/add.png') }}" width="200px" height="220px">
			</a>
		{% endif %}
		<div class="row">
			{% for category in categories %}
				<div class="col-md-3" style="border:1px solid black; margin:20px;">
					<a class="text-decoration-none" href="{{ path('category_detail', {'id': category.id}) }}">
						<img src="{{ asset('category/smartphone-icon.png') }}" alt="Icon" style="width:80%" class="w3-hover-opacity">
					</a>
					<div class="w3-container w3-white">
						<p>
							<b>{{ category.name }}</b>
						</p>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
