{% extends 'base.html.twig' %}

{% block body %}
	<div class="container-md col-md-8 mt-3 mb-3 text-center">
		{% if is_granted("ROLE_ADMIN") %}
		<a href="{{ path('customer_add') }}">
			<img src="{{ asset('button/add.png') }}" width="200px" height="220px">
		</a>
		{% endif %}
		<table class="table table-responsive-md mt-3">
			<thead>
				<tr>
					<th>Customer Name</th>
					<th>Customer PhoneNumber</th>
					<th>Customer Email</th>
					<th>Customer Address</th>
					<th>Customer Order</th>
					{% if is_granted("ROLE_ADMIN") %}
					<th>Actions</th>
					{% endif %}
				</tr>
			</thead>
			<tbody>
				<tr>
					<td>
						{{ customer.name }}
					</td>
					<td>
						{{ customer.phoneNumber }}
					</td>
					<td>
						{{ customer.email }}
					</td>
					<td>
						{{ customer.address }}
					</td>
					<td>
						{% for order in customer.orders %}
							{{order.location}}
						{% endfor %}
					</td>
					{% if is_granted("ROLE_ADMIN") %}
					<td>
						<a href="{{ path('customer_edit', {'id' : customer.id }) }}" style="margin-right:20px">
							<img src="{{ asset('images/edit.png') }}" width="50" height="50">
						</a>
						<a href="{{ path('customer_delete', {'id' : customer.id }) }}" onclick="return confirm('Do you want to delete this customer ?')">
							<img src="{{ asset('images/delete.png') }}" width="50" height="50">
						</a>
					</td>
					{% endif %}
				</tr>
			</tbody>
		</table>
	</div>
{% endblock %}
