{% extends 'base.html.twig' %}

{% block body %}
	<style>
		.row {
			width: 100%;
			text-align: center;
			margin-left: 7.5%;
		}
		.col-md-3{
			border:1px solid black; 
			margin:20px;
			border-radius: 50%;
		}
	</style>
	<div class="container text-center">
		{% if is_granted("ROLE_ADMIN") %}
			<a href="{{ path('customer_add') }}">
				<img src="{{ asset('button/add.png') }}" width="200px" height="220px">
			</a>
		{% endif %}
		<div class="row">
			{% for customer in customers %}
				<div class="col-md-3">
					<a class="text-decoration-none" href="{{ path('customer_detail', {'id': customer.id}) }}">
						<img src="{{ asset('team/customer.png') }}" alt="Icon" style="width:80%;" class="w3-hover-opacity">
					</a>
					<div class="w3-container w3-white">
						<p>
							<b>{{customer.name}}</b>
						</p>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
