{% extends "base.html.twig" %}

{% block body %}
    <div class="container col-md-6 mt-3">
        <h2 class="text-center">ADD NEW BOOK</h2>
        <div class="col md-6">
            {{ form_start (bookForm) }}
            <div class="form-group">
                {{ form_label (bookForm.title) }}
                {{ form_widget (bookForm.title,
                    {
                        'attr' : {'class' : 'form-control'}
                    })
                }}
            </div>
            <div class="form-group">
                {{ form_label (bookForm.price) }}
                {{ form_widget (bookForm.price,
                    {
                        'attr' : {'class' : 'form-control'}
                    })
                }}
            </div>
            <div class="form-group">
                {{ form_label (bookForm.year) }}
                {{ form_widget (bookForm.year,
                    {
                        'attr' : {'class' : 'form-control'}
                    })
                }}
            </div>
            <div class="form-group">
                {{ form_label (bookForm.genre) }}
                {{ form_widget (bookForm.genre,
                    {
                        'attr' : {'class' : 'form-control'}
                    })
                }}
            </div>
            <div class="form-group">
                {{ form_label (bookForm.authors) }}
                {{ form_widget (bookForm.authors,
                    {
                        'attr' : {'class' : 'form-control'}
                    })
                }}
            </div>
            <div class="form-group">
                {{ form_label (bookForm.cover) }}
                {{ form_widget (bookForm.cover,
                    {
                        'attr' : {'class' : 'form-control'}
                    })
                }}
            </div>
            <div class="form-gourp text-center mt-3">
                <input type="submit" class="btn btn-primary"></input>
            </div>
            {{ form_end (bookForm) }}
        </div>
    </div>
{% endblock %}