{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-md col-md-8 mt-3 text-center">
        <a class="btn btn-primary" href="{{ path('product_add') }}">
        Add phone
        </a>
    <table class="table table-responsive-md mt-3">
        <thead>
            <tr>
                <th>Phone Name</th>
                <th>Phone Price</th>
                <th>Picture</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>    
        </thead>
        <tbody>
            {% for product in products %}
                <tr>
                    <td>{{ product.name }}</td>
                    <td>{{ product.price }}</td>
                    <td>
                        <a href="{{ path('product_detail', {'id': product.id}) }}">
                            <img src="{{ asset('product/'~product.picture) }}" width="100" height="120">
                        </a>
                    </td>
                    <td>{{ product.status }}</td>
                    <td></td>
                </tr>    
            {% endfor %}
        </tbody>
    </table>
    </div>
{% endblock %}