{% extends 'base.html.twig' %}

{% block body %}
	<div class="container-md col-md-8 mt-3 text-center">
		{% if is_granted("ROLE_ADMIN") %}
			<a href="{{ path('product_add') }}">
				<img src="{{ asset('button/add.png') }}" width="200px" height="220px">
			</a>
		{% endif %}
		<div class="container-md form-group col-md-4">
			<form action="{{path('search_product_by_name')}}" method="POST">
				<input type="search" name="name" required placeholder="Enter phone">
				<input type="submit" value="Search">
			</form>
		</div>
		{% if products == null %}
			<h4 class="text text-warning">No phone's found in the database</h4>
		{% else %}
			{% for product in products %}
				<div class="row w3-margin-top">
					<div class="w3-third">
						<div class="w3-card">
							<a href="{{ path('product_detail', {'id': product.id}) }}">
								<img src="{{ asset('product/'~product.picture) }}" style="width:30%">
							</a>
							<div class="w3-container">
								<h4>{{ product.name }}</h4>
								<h5>Price: ${{ product.price }}</h5>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		{% endif %}
	</div>
{% endblock %}
